################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Generics/bin
/Generics/obj
/.vs
/Generics/Properties