################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Generics/bin
/Generics/obj
/.vs
/Delegates/bin
/Delegates/obj
/LambdaExpressions/bin
/LambdaExpressions/obj
/Events/bin
/Events/obj
/EventsAndDelegates/bin
/EventsAndDelegates/obj