################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Generics/bin
/Generics/obj
/.vs
/Delegates/bin
/Delegates/obj
/LambdaExpressions/bin
/LambdaExpressions/obj
/Events/bin
/Events/obj
/EventsAndDelegates/bin
/EventsAndDelegates/obj
/ExtensionMethods/bin
/ExtensionMethods/obj
/LINQ/bin
/LINQ/obj
/NullableTypes/bin
/NullableTypes/obj
/AsynchronousProgramming_AsyncAwait/bin
/AsynchronousProgramming_AsyncAwait/obj
/Indexers/bin
/Indexers/obj
/IntermediateCSharp/bin
/IntermediateCSharp/obj
/ExceptionHandling/bin
/ExceptionHandling/obj